* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .tableTel {
  display: table !important;
} */

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
}

.swiper-wrapper {
  height: 250px !important;
}
.note-modal{
  top: auto !important;
}
/* .modal-backdrop {
  position: relative !important;
} */
.card-image {
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
.card-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-image button {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.abracaMenu .menu {
  width: 100%;
}
.abracaMenu .menu .item {
  position: relative;
  cursor: pointer;
}
.tabela-acessar-escolas th {
  cursor: pointer;
}

.tabela-acessar-escolas .th-sem-filtro {
  cursor: default;
}
.abracaMenu .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 14px 15px;
  transition: all 0.4s ease-in-out;
}
.abracaMenu .menu .item a:hover {
  background-color: rgb(4, 45, 89);
}

.abracaMenu .menu .item i {
  margin-right: 12px;
}
.abracaMenu .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 5px 25px;
  transition: 0.3s ease;
}
.abracaMenu .menu .item .sub-menu {
  display: none;
  overflow: hidden;
  height: auto;
}

.abracaMenu .menu .item .sub-menu a {
  padding-left: 20px;
}

.img-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.logoSumare {
  width: 70%;
}

#closeIcon{
	display: none;
}

/* The switch - the box around the slider */
.switch {
  transform: rotate(180deg);
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #8b0000;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



/* container table */
.container-table {
	overflow-x: scroll;
	overflow-y: scroll;
}

.card{
	width: 100%
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #000;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #031e3b;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #9cc9fa;
}

.switch input:checked + .slider:before {
  transform: translateX(2.6em);
}

.card-form {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.form-label {
  font-size: 0.9rem;
}

.ball-switch {
  margin-left: 5%;
  transform: rotate(180deg);
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1.5em;
}

.ball-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tittle-switch {
  width: 45%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #8b0000;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.title-slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.08em;
  width: 1.08em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #000;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ball-switch input:checked + .title-slider {
  background: #031e3b;
}

.ball-switch input:focus + .title-slider {
  box-shadow: 0 0 1px #9cc9fa;
}

.ball-switch input:checked + .title-slider:before {
  transform: translateX(1.7em);
}

/* modal imagens */

.carrossel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; /* Ajuste conforme necessário */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagens img {
  width: 900px;
  height: 500px;
  display: none;
}

.imagem-ativa {
  display: block !important;
}

.anterior,
.proximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.anterior {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.proximo {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.sairModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  width: 100px;
}

.sairModal:hover {
  color: white;
}

/* load */

.bg-loading {
  background: rgba(0, 0, 0, 0.67);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 49;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* CLASSES DE USO GERAL */

.none {
  display: none !important;
}

.red {
  color: red;
}

/* bootstrap */

.circulo-border {
  background-color: #07f11762;
  color: #07f116 !important;
  font-size: 70px;
  border-radius: 200px;
  padding: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
  color: red;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

.botaoAtivaMenu {
  display: none;
}

.botaoDesativaMenu {
  display: none;
}

.modal-erro {
  background-color: hsla(0, 100%, 50%);
  color: white !important;
  font-size: 50px;
  border-radius: 50%;
  padding: 10px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.olhos-icone {
  position: relative;
  bottom: 2.5em;
  left: 21em;
  cursor: pointer;
}

.icone-pesquisa {
  position: relative;
}

.botaoExcel {
  background-color: #107c42;
  color: white;
}

.botaoExcel:hover {
  background-color: #107c42;
  color: white;
}

.botaoCadastro {
  background-color: #0095ff;
  color: white;
}

.botaoCadastro:hover {
  background-color: #0095ff;
  color: white;
}

.btn {
  cursor: pointer;
}

.titulo-modal {
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-sidebar {
  padding: 0%;
  font-size: 18px;
}
.Toastify__toast--custom {
  background: rgb(41, 165, 51); /* Cor verde mais atrativa */
  color: #fff;
  border-radius: 12px; /* Borda arredondada */
  font-size: 16px; /* Tamanho da fonte */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
}

.nav-sidebar .active {
  background-color: #e4e4e4;
  color: #183153;
}

.nav-sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 95%;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 1.1em;
  color: #fff;
  transition: ease-in-out 0.3s;
}

.nav-sidebar a:hover {
  background-color: #e4e4e4;
  color: #2d2d2d;
}

.nav-sidebar i {
  width: 28px;
}

.nav-sidebar a span {
  margin-left: 0.5em;
}

.abracaMenu p {
  padding: 0.3em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  width: 95%;
}

#email-cand {
  font-size: 1em;
}

.logoSumare {
  margin-top: 20px;
  width: 70%;
}

.modal-cand {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-cand {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content-cand h5 {
  margin: 2em 0.5em;
}

.modal-content-cand button {
  margin-top: 2em;
  margin-right: 0.5em;
  border-radius: 0;
  padding: 0.6em 0.8em;
  background-color: #0b1126;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.modal-content-cand button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tableVertical {
  margin-top: 2.5em;
  min-width: 700px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tableVertical th {
  padding: 10px;
  text-align: left;
  width: 220px;
}

.tableVertical td {
  padding: 10px;
}

.close {
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  cursor: pointer;
}

.abracaMenu {
  position: fixed;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: #183153;
  min-height: 100vh;
  top: 0;
  color: #fff;
  text-align: left;
  box-shadow: 1px 0px 11px -8px #000;
 
}

.container-nome-user{
	padding-left: 2%
}


.container-menu-img{
	display: flex;
    justify-content: center;
    align-items: center;
}


.title {
  display: flex;
  align-items: center;
  color: #183153;
}

.title span {
  margin-left: 0.8em;
  font-size: 1.4em;
}

#sair {
  position: absolute;
  width: 251.75px;
  bottom: 15px;
}

.img-container {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#menu.open {
    max-height: 100%; /* Ajuste a altura conforme necessário */
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
/* .cropper-canvas {
	width: 100% !important;
	transform: translateX(0) !important;
} */
.form div .inputForm {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}

.btn-register {
  width: 10em;
  max-height: 38px;
  margin: 0 auto;
  margin-top: 1em;
  letter-spacing: 1px;
  font-size: 18px !important;
}

.btn-add {
  margin-top: 8px;
}

.btn-primary {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 40px 40px #076b92 inset, 0 0 0 0 #076b92 !important;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.card-table {
  height: 640px !important;
}

#card-table {
  height: 480px !important;
}

.form-check-input:checked {
  background-color: #183153;
  border-color: #183153;
}

#prev,
#next {
  padding: 6px;
  width: 4em;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 5px;
}

#prev:hover,
#next:hover {
  background-color: #ddd;
}

.table thead {
  font-size: 1em;
}

#colaTabela {
  font-size: 1.2em;
}

.container-res {
  margin-left: 19em;
  margin-right: 10%;
}

/* table {
   width: 100% !important;
  table-layout: fixed !important; 
  overflow: auto;
} */

th,
td {
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.area-radio {
  margin-top: 0.2em;
  width: 100%;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-color: #dee2e6 !important;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-color: #dee2e6 !important;
}
.btn-group .btn-check:checked + .btn,
.btn-group .btn.active,
.btn-group .btn.show,
.btn-group .btn:first-child:active,
.btn-group :not(.btn-check) + .btn:active {
  background-color: #8a8a8a !important;
  border-color: #8a8a8a !important;
  color: #fff !important;
}

.menu-mobile{
	display: none;
}

@media screen and (max-width: 1439px) {
  .container-res {
    margin-left: 17em;
    margin-right: 3em;
  }

  #th-acao {
    width: 25%;
  }

  #th-duracao {
    width: 18%;
  }

  th,
  tr {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tabela-descontos td {
    font-size: 1em;
    max-width: 250px;
  }

  #btn-vincula {
    font-size: 0.9em;
  }
  #th-celular-cand,
  #th-cpf-cand {
    width: 16%;
  }
  #th-condicoes {
    width: 13%;
  }

  .abracaMenu {
    width: 250px;
  }

  .nav-sidebar {
    font-size: 16px;
  }

  .nav-sidebar i {
    width: 24px;
  }

  .nav-sidebar a span {
    margin-left: 0.5em;
  }

  #sair {
    position: absolute;
    width: 223.25px;
    bottom: 15px;
  }

  .card-table {
    height: 580px !important;
  }

  .card-table .btn-primary {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0.5em !important;
    font-size: 1em;
  }

  .table thead {
    font-size: 0.9em;
  }

  .table tbody td {
    padding: 0.3em;
  }

  #colaTabela {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1279px) {
  #form-login {
    width: 45%;
  }
}

@media screen and (max-width: 1199px) {
  .container-res {
    margin-right: 2em;
  }
}

@media screen and (max-width: 768px) {
	.abracaMenu{
		display: none;
		z-index: 99;
		padding-left: 0;
		width: 100%;
	}
	
	.container-menu-sair{
		color: #fff;
		display: flex;
		justify-content: end;
		align-items: center;
		height: 5%;
		padding-right: 2%;
	}
	
	.container-menu-sair i{
		font-size: 1.2rem
	}
	
	.nav-sidebar{
		padding-left: 2%
	}
	
	.container-menu-img{
		padding: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	
	.menu-mobile {
		display: block;
		flex-direction: row;
		height: 20%;
		width: 100%;
		background-color: #183153;
		padding: 2%;
	}
	
	.container-header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	
	.fa-bars{
		color: #fff;
	}
	
	.img-mobile-menu{
		width: 20%;
	}
	
	.logoSumare{
		margin-top: 0;
	}
	
	
	.container-res{
		margin-left: 2rem;
		padding: 5%;
	}
	
	
}

@media screen and (max-width: 425px) {
  .container-res {
    margin-left: 0;
    margin-right: 0;
  }

  .icone-pesquisa {
    display: none;
  }

  .form-control {
    min-width: auto !important;
  }
  .mx-auto {
    margin-right: 0;
    margin-left: 0;
  }

  .col-8 {
    flex: 0 0 auto;
    width: auto;
  }

  .btn-register {
    width: 12em;
    max-height: 38px;
    margin: 0 auto;
    margin-top: 1em;
    letter-spacing: 1px;
    font-size: 18px !important;
  }

  .modalMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .animar-sair {
    animation: animar-sair 3s;
    animation-fill-mode: forwards;
  }

  @keyframes animar-sair {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1000px);
    }
  }

  .animar-entrar {
    animation: animar-entrar 2s;
    animation-fill-mode: forwards;
  }

  @keyframes animar-entrar {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .botaoAtivaMenu {
    display: none;
    position: fixed;
    z-index: 99;
    right: -31px;
    top: 240px;
    border: none;
    border-radius: 100%;
    font-size: 30px;
    background-color: #2d2d2d;
    color: white;
  }

  .mover-left {
    animation: left 3s ease-in-out infinite;
  }

  @keyframes left {
    0% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .botaoDesativaMenu {
    display: none;
    position: relative;
    top: 10px;
    border: none;
    font-size: 22px;
  }
}
